
p {
  text-align: justify;
}

body {
  background-color: #e0e1e2;
}
label {
    font-size: 16px;
  }

#header {
  background-color: white;
  background-size: cover;
  height: 250px;
}


select {
  margin-left: 12px;
  font-size: 20px;
}

p {
  text-align: justify;
  font-size: 12px;
}
li {
  font-size: 16px;
}

.header {

}
.btn {
  font-size: 18px;
}

.well {
  display: none;
  background: none;
}
